body {
	margin: 0px;
	padding: 0px;
	opacity: 0.8;
	font-family: tahoma;
	overflow: hidden;
}

#Background {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	
	background-image: url('bg/foto_14719_original.jpg');
	
	background-size: cover;
	background-position: bottom;
	opacity: 1;
}

#Content {
	position: absolute;
	top: calc( 50% - 430px );
	left: 0;
	height: 860px;
	width: 10000px;
}

/* LANE INFO*/
.lane-info{
	position: fixed;
	left: 0;
}

.lane-info > .lane{
	height: 75px;
	padding: 14px 20px 0 20px;
}

.lane-info .lane h1{
	float:left;
	font-size: 24px;
	color: rgba(255,255,255,0.8);
	
}

.lane-info .lane .crew{
	font-weight: bold;
	color: #fff;
	padding: 0px 20px;
	margin-left: 35px;
	margin-top: 4px;
	line-height: 42px;
	
	-ms-transform: skew(-10deg); 
    -webkit-transform: skew(-10deg); 
    transform: skew(-10deg);
	
	background: #61708A;
	border-radius: 4px; 

}

.lane-info .lane .crew p{
	display: inline-block;
    margin: 4px 15px 4px 15px;
}

.lane-info .lane .crew img{
	height: 25px;
    width: auto;
    margin-top: 12px;
    display: inline-block;
   	float: left;
    
    -ms-transform: skew(10deg); 
    -webkit-transform: skew(10deg); 
    transform: skew(10deg);
}

.rowing-course > .lane{
	height: 89px;
	width: 100%;	
}

.rowing-course > .lane:nth-of-type(odd){
	background: rgba(85, 136, 179, 0.9);
}

.rowing-course > .lane:nth-of-type(even){
	background: rgba(163, 193, 219, 0.9);
}

.rowing-course .boat {
	position: absolute;
	width: 160px;
	height: 40px;
	margin: 23px 0 0 250px;
	background-image: url('boat.png');
	background-size: cover;
}

.rowing-course .bouys{
    position: absolute;
	border-bottom: 2px solid #FAC000;
    height: 10px;
    margin-top: -10px;
    width: 100%;
}

.rowing-course .bouy {
	display: inline-block;
	position:relative;
	margin-left: 60px;
	margin-top: -9px;
	width: 10px;
	height: 10px;
	background: #FFE207;
	background: #FAC000;
	border-radius: 10px;
}

#CurrentlyRacing {
	position: fixed;
	margin-top: 565px;
	width: 750px;
	left: calc( 50% - 375px );
	font-size: 20px;
	z-index: 2;
}

#CurrentlyRacing table{
	color: #fff;
}

#CurrentlyRacing tr{
	border-radius: 10px;
	
	-ms-transform: skew(-10deg); 
    -webkit-transform: skew(-10deg); 
    transform: skew(-10deg);
}

#CurrentlyRacing tr:nth-child(even){
	background: rgba(22,59,104,0.8);
}

#CurrentlyRacing tr:nth-child(odd){
	background: rgba(24,44,81,0.8);
}

#CurrentlyRacing td {
	padding: 8px 32px;
}

#CurrentlyRacing td:first-child,#CurrentlyRacing th:first-child{
	border-radius: 4px 0 0 4px;
}

#CurrentlyRacing td:last-child,#CurrentlyRacing th:last-child{
	border-radius: 0 4px 4px 0;
}

#CurrentlyRacing th{
	text-align: left;
	padding: 8px 16px;
	background: rgba(11,32,66,0.8);
}

#CurrentlyRacing th.lane{
	
}

#CurrentlyRacing th.crew{
	width: 300px;
}

#CurrentlyRacing th.rate{
	
}

#CurrentlyRacing th.split{
	
}

#DistanceBlockContainer {
	position: relative;
	height: 40px;
	width: 100%;
	padding-left: 250px;
	border-top: 0px solid gray;
}
.DistanceBlock {
	display:inline-block;
	height: 28px;
	width: 80px;
	padding-top: 2px;
	background: #fff;
	z-index: 2;
}

.DistanceBlock p{
	color: #999;
	font-size: 20px;
	text-align: center;
	margin: 0;
}

.DistanceBlock:nth-child(5n+1):before{
	content: '';
    position: absolute;
    height: 531px;
    margin-left: 40px;
    margin-top: 40px;
    border-right: 3px dashed #fff;
}

.club-flag{
	height: 20px;
}

#Header {
	position: absolute;
	left: 20px;
	top: 12px;
	font-size: 28px;
}
#Message {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
	margin: -80px -200px;
	height: 115px;
	width: 400px;
	border-radius: 80px;
	background: inherit;
	background-color: Black;
	text-align: center;
	vertical-align: middle;
	z-index: 1000;
	color: #fff;
	padding-top: 45px;
	font-size: 48px;
}