<!doctype html>
<html>
	<head>
		<title>Rowcoaches wedstrijd applet</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<script type=text/javascript
		  src="{{ url_for('static', filename='jquery.min.js') }}"></script>
		<script type=text/javascript>
		  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script type='text/javascript' src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<body>
		<div id='Message'></div>
		<div id='Background'></div>
		<div id='Header'>
			<!--Rowcoaches wedstrijd app-->
		</div>
		<div id='Content'>
			
					
			<div id='CurrentlyRacing'>
				<table id='Stats'>
					<thead>
						<tr>
							<th class="lane">Lane</th>
							<th class="crew">Crew</th>
							<th class="rate">Stroke rate</th>
							<th class="split">Split</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Lane 1: </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Lane 2: </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Lane 3: </td>
							<td>Laga</td>
							<td>42 s/m</td>
							<td>1:33</td>
						</tr>
						<tr>
							<td>Lane 4: </td>
							<td>Nereus</td>
							<td>22 s/m</td>
							<td>2:10</td>
						</tr>
						<tr>
							<td>Lane 5: </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Lane 6: </td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div> <!-- CurrentlyRacing -->
			
			<div id='DistanceBlockContainer'>
				
			</div>
			
			
			
			
			<div class="rowing-course">
				<!-- LANES INFO -->
				<div class="lane-info">
					<div class="lane">
						<!-- url img will be something like ../static/flags/<?php echo $crew; ?>.png -->
						<h1>1</h1><div class="crew"><p>Laga</p> <img src="../static/flags/laga.png" class="club-flag" alt="nl" /></div> 
					</div>
					<div class="lane">
						<h1>2</h1><div class="crew"><p>Skadi</p> <img src="../static/flags/skadi.png" class="club-flag" alt="nl" /></div> 
					</div>
					<div class="lane">
						<h1>3</h1><div class="crew"><p>Laga</p> <img src="../static/flags/laga.png" class="club-flag" alt="nl" /></div> 
					</div>
					<div class="lane">
						<h1>4</h1><div class="crew"><p>Nereus</p> <img src="../static/flags/nereus.png" class="club-flag" alt="nl" /></div> 
					</div>
					<div class="lane">
						<h1>5</h1><div class="crew"><p>Laga</p> <img src="../static/flags/laga.png" class="club-flag" alt="nl" /></div> 
					</div>
					<div class="lane">
						<h1>6</h1><div class="crew"><p>Skadi</p> <img src="../static/flags/skadi.png" class="club-flag" alt="nl" /></div> 
					</div>
				</div>
				
				<!-- LANES -->
				<div id="lane-1" class="lane">
					<div class="bouys"></div>
					<div class="boat">1</div>
				</div>
				
				<div id="lane-2" class="lane">
					<div class="bouys"></div>
					<div class="boat">2</div>
				</div>
				
				<div id="lane-3" class="lane">
					<div class="bouys"></div>
					<div class="boat"></div>
				</div>
				
				<div id="lane-4" class="lane">
					<div class="bouys"></div>
					<div class="boat"></div>
				</div>
				
				<div id="lane-5" class="lane">
					<div class="bouys"></div>
					<div class="boat"></div>
				</div>
				
				<div id="lane-6" class="lane">
					<div class="bouys"></div>
					<div class="boat"></div>
					
				</div>
				<div class="bouys"></div>
			</div>
			
			
			
		</div> <!-- /content -->
	</body>
</html>